
$green-E-change: #41b3a3;
$my-h2: #116466;
$my-h3: #05386b;
$my-brown: #e4ca9e;
$my-red: #710c04;
$my-background: #edf5e1;
$my-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Lexend-Regular";
  src: url("../fonts/Lexend-Regular.ttf");
}

@font-face {
  font-family: "Lexend-Black";
  src: url("../fonts/Lexend-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: "Roboto-Regular";
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.6em;
  width: 100%;
  overflow-x: hidden;
}

#contain-global {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  font-family: "Roboto-Regular";
  font-size: 1.6rem;
  background-color: $my-background;
}

h1 {
  font-family: "Roboto-Regular";
  text-align: center;
  margin: 35px;
  color: #41b3a3;
  line-height: 3rem;
}

h2 {
  font-family: "Lexend-Regular";
  padding: 20px;
  color: $my-h2;
  line-height: 3rem;
}

h3 {
  font-family: "Roboto-Bold";
  margin: 20px;
  color: $my-h3;
}

section {
  text-align: justify;

  p{
    padding: 5px;
  }
}
