
@media (min-width: 480px) {
  #section-category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }

  .contain-link-category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 120px;
  }

  .form-contact {
    @include form_styles();
    height: 70vh;
    width: 90%;
  }

  #form-register {
    @include form_styles();
    height: 50vh;
    width: 90%;
  }

  #form-login {
    @include form_styles();
    height: 50vh;
    width: 90%;
  }

  .form-create-article {
    @include form_styles($input-width: 90%);
    height: 90vh;
    width: 90%;
  }
}

@media (min-width: 768px) {
  section {
    padding: 5px;
  }

  h1, h2 {
    font-family: "Lexend-Black";
  }

  h3 {
    font-family: "Roboto-Bold";
  }

  .nav-menu {
    width: 40vw;
  }

  #section-category {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  #contain-link-category {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
  }

  .logo-brico {
    display: flex;
  }

  .logo-brico img {
    display: block;
  }

  table {
    width: 80%;
  }

  .form-contact {
    height: 70vh;
    width: 70%;
  }

  .form-create-article {
    @include form_styles($input-width: 90%);
    height: 90vh;
  }

  #form-login {
    height: 50vh;
    width: 50%;
  }

  #form-register {
    height: 50vh;
    width: 50%;
  }

  #link-dashboard {
    justify-content: space-around;
  }

  .form-add-update {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #link-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    border: 1px solid white;
  }

  #link-dashboard a {
    border: none;
  }
}


@media (min-width: 1024px) {
  section {
    padding: 5px;
  }

  .nav-menu {
    width: 20vw;
  }

  h1, h2 {
    font-family: "Lexend-Black";
  }

  h3 {
    font-family: "Roboto-Bold";
  }

  #section-presentation article {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5px;
  }

  #section-presentation article img {
    display: block;
    width: 300px;
    height: 350px;
  }

  #section-presentation article p {
    margin: 25px;
  }

  .section-iframe {
    text-align: center;
    margin-bottom: 60px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap:100px;

      svg.fa-globe {
        display: block;
        font-size: 50px;
        animation: rotateGlobe 4s linear infinite;
        color: $green-E-change;
      }
      @keyframes rotateGlobe {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .section-iframe h2 {
    margin-bottom: 50px;
  }

  #section-blog img {
    width: 500px;
    height: 280px;
    border-radius: 10px;
  }

  #section-blog article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  #section-blog article:nth-child(odd) {
    flex-direction: row-reverse;
  }

  #section-blog article h3 {
    text-align: center;
  }

  #section-blog article div {
    display: flex;
    flex-direction: column;
  }

  #section-blog article p {
    margin: 15px;
    line-height: 25px;
  }

  #section-category {
    display: block;
  }

  .logo-brico {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .logo-brico img {
    display: block;
    position: absolute;
    top: 20px;
  }

  .section-details-category {
    margin: 15px;
  }

  #contain-link-category {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 500px;
  }

  #contain-link-category a {
    text-decoration: none;
    font-family: "Roboto-Bold";
    text-align: center;
    font-size: 2.5rem;
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925;
    color: black;
    background-color: $my-brown;
    border: none;
  }

  #contain-link-category a:hover {
    transform: scale(1.5);
    transition-duration: 2s;
  }

  .link-top,
  #link-right,
  #link-left {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50px;
    width: 150px;
    height: 100px;
  }

  #link-right {
    position: absolute;
    right: 200px;
    top: 400px;
  }

  #link-left {
    position: absolute;
    left: 200px;
    top: 400px;
  }

  .section-details-category h3 {
    text-align: center;
  }

  .contain-content-img {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
  }

  .form-contact {
    @include form_styles(850px, 500px);
  }

  .form-contact textarea {
    width: 750px;
    height: 300px;
  }

  .form-contact .charactere-count {
    position: absolute;
    bottom: 50px;
    right: 65px;
  }

  #form-register {
    @include form_styles($height: 300px);
  }

  #form-register button {
    position: absolute;
    bottom: 10px;
    right: 50px;
  }

  #form-login {
    @include form_styles($height: 300px);
  }

  .form-create-article {
    @include form_styles(500px, 500px, $input-width: 90%);
    height: 70vh;
  }

  #link-dashboard {
    justify-content: space-between;
  }

  .form-add-update {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #link-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid white;
  }

  #link-dashboard a {
    text-decoration: none;
    font-family: "Lexend-Black";
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
  }

  #link-dashboard a:hover,
  #link-dashboard a:focus {
    background-color: black;
    transition: background-color 1.2s ease-in-out;
  }
}

